.content{
    width: 100%;
    height: 100%;
    padding-top: 48px;
    padding-bottom: 16px;

    display: flex;
    border-bottom: 1px solid var(--main-color);
}

.info-block{
    width: 60%;

    display: flex;
    flex-direction: column;

    gap: 8px;
}

.course-name{
    margin-bottom: 16px;
    font-size: 48px;
}

.enroll-btn{
    width: 150px;
}

.enroll-btn a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px;

    text-align: center;

    transition: 0.5s;
    cursor: pointer;
}

.enroll-btn a:hover{
    border-radius: 5px;
    background: var(--main-color);
    color: var(--background-color);
}

.image-block{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}

.image-wrapper{
    width: 200px;
    height: 200px;
    border-radius: 10px;

    object-fit: contain;
}

.image-wrapper img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.students-block{
    width: 100%;
    margin-top: 24px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.students > h2{
    margin-bottom: 16px;
}

.students-block form{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.students-block form button{
    width: 200px;
}

.name-header, .student-name{
    width: 50%;
}

.student-score input{
    width: 100px;
    text-align: center;
    font-size: 16px;

    border: none;
    border-bottom: 1px solid var(--main-color);
}

.student-score input:focus{
    outline: none;
}

.no-students{
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-students h1{
    font-size: 75px;
}