.course{
    width: 100%;
    padding: 16px 0;

    display: flex;

    border-bottom: 1px solid #ccd1d9;
}

.course.hidden{
    display: none;
}

.img-box{
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.img-box img{
    height: 150px;
    width: 150px;
    object-fit: cover;
}

.info-box{
    height: 100%;
    width: 60%;
    margin-left: 16px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.info-box .info-row{
    width: 100%;
    display: flex;
}

.info-row .info{
    display: flex;
    gap: 16px;
    width: 50%;
}

.info-row p{
    color: #7a7a7a;
    min-width: 30%;
}

.info-box p span{
    margin-left: 10px;
    color: var(--main-color);
}

.info-row span{
    margin-left: 10px;
    color: var(--main-color);
}

.score-box{
    width: 200px;
    padding: 8px;
    background: var(--main-color);
    border-radius: 5px;

    align-self: flex-end;
    display: flex;
    justify-content: space-around;
    gap: 16px;
    margin-left: auto;
}

.score-box *{
    color: #fff;
}

.manage-box{
    width: 200px;
    margin-left: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.manage-btn{
    width: 100%;
}
