.status-filter-box{
    width: 100%;

    padding: 24px 16px;

    background-color: #f8f8f8;

    display: flex;
    flex-direction: column;
}

.status-filters{
    width: 100%;

    display: flex;
    justify-content: space-around;
}

.status-filter{
    width: 20%;
}

.status-filter.selected{
    background: var(--main-color);
}

.status-filter.selected a{
    color: var(--background-color);
}