
header{
    width: 100%;
    border-bottom: 1px solid #393939;
    padding-bottom: 8px;
}

header .content{
    display: flex;
    flex-direction: column;
}

header .nav-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    font-size: 46px;
    font-weight: 900;
}

.title{
    display: flex;
    align-items: center;
}

.title:hover{
    cursor: pointer;
}

.nav{
    width: 60%;

    display: flex;
    align-items: center;
}

.nav ul{
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
}

.nav ul li{
    flex: 1 1 0;
}

.nav ul li > a{
    display: block;
    width: 100%;
    height: 100%;
    padding: 8px;

    text-align: center;

    transition: 0.5s;
    cursor: pointer;
}

.nav ul li > a:hover{
    border-radius: 5px;
    background: var(--main-color);
    color: var(--background-color);
}

.vr{
    width: 1px;
    height: 10px;
    background-color: var(--main-color);
}

.header-dropdown{
    min-width: 200px;
    position: relative;
}

.header-dropdown-control {
    padding: 4px 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border: 1px solid var(--main-color);
    border-radius: 5px;
    cursor: pointer;
}

.header-dropdown-control .profile-img{
    width: 30px;
    height: 30px;
}

.header-dropdown-control .profile-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.header-dropdown-control .user{
    font-size: 14px;
}

.header-dropdown-control .arrow{
    height: 12px;
    width: 12px;
    background: url("../icons/arrow-down.png") no-repeat center;
    background-size: cover;
}

.header-dropdown-control .arrow.up{
    height: 12px;
    width: 12px;
    background: url("../icons/arrow-up.png") no-repeat center;
    background-size: cover;
}

.header-dropdown-menu {
    position: absolute;
    width: 100%;
    padding: 8px;

    background-color: var(--background-color);
    border: 1px solid #ccd1d9;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    z-index: 1000;
}

.header-dropdown-menu a {
    padding: 4px;
    text-align: center;
    font-size: 14px;

    border-radius: 5px;
    transition: 0.3s;
}

.header-dropdown-menu > a:hover {
    background: var(--main-color);
    color: var(--background-color);
}

.header-dropdown-menu.hidden{
    display: none;
}

.header-dropdown-menu *{
    width: 100%;
}

.language-switch {
    min-width: 100px;
    display: flex;
    justify-content: center;
    border: 1px solid;
    border-radius: 8px;
}

.language-switch a{
    color: var(--main-color);
    flex: 1;
    text-align: center;
}

.language-switch a.selected{
    color: var(--background-color);
    background: var(--main-color);
    border-radius: 5px;
}

