main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main .container{
    justify-content: center;
    align-items: center;
}

.log-in-box {
    height: 500px;
    width: 400px;
    padding: 8px 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 16px;

    background: var(--background-color);

    border-radius: 10px;
}

.log-in-box h1{
    min-height: 10%;
}

.form-group {
    display: flex;
    gap: 8px;
}

.password-message{
    color: red;
}

.password-message.hidden{
    display: none;
}

.recaptcha{
    display: flex;
    justify-content: center;
}

.form-submit{
    margin-top: 16px;
}

.question-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.question{
    font-size: 14px;
    transition: 0.5s;
}

.question:hover{
    letter-spacing: 0.5px;
}