<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">

    <Appenders>
        <!-- Console appender configuration -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm} [%t] %-5p %C:%L - %m%n" />
        </Console>
        <!-- File appender configuration -->
<!--        <File name="file" fileName="./application.log">-->
<!--            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm} %-5p  %C:%L - %m%n"/>-->
<!--        </File>-->
    </Appenders>

    <Loggers>
        <!-- Root logger -->
        <Root level="debug" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>
