.title-box{
    width: 100%;
    padding: 24px;
}

.filter-box{
    height: auto;
    padding: 24px;

    display: flex;
    align-items: center;
}

.filter-box .search-row input{
    width: 100%;
}

.filter-box .search-row input:focus{
    outline: none;
    border: 2px solid var(--main-color);
}

.students-block{
    width: 100%;
    padding: 24px;
}

.student-row.hidden{
    display: none;
}

.block-button{
    width: 150px;
}